@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  z-index: 4;
  font-family: "Oswald", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blurred {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("./assets/restaurant-bg-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro .display-text {
  color: white;
  font-size: 12rem;
  font-family: "Bebas Neue", cursive;
}

.intro a {
  padding: 12px 24px;
  font-size: 28px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Bebas Neue", cursive;
  padding-top: 16px;
  -webkit-box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.275);
          box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.275);
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.intro a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro a:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

button {
  outline: transparent;
  border: none;
  padding: 12px 24px;
  font-size: 28px;
  background: white;
  color: black;
  border-radius: 4px;
  font-family: "Bebas Neue", cursive;
  padding-top: 16px;
  -webkit-box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.275);
          box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.275);
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.service-page {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./assets/restaurant-bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-page div {
  padding: 40px;
  width: 100%;
  text-align: center;
}

.service-page div .description {
  width: 70%;
  color: white;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  margin-bottom: 32px;
}

.service-page div button {
  width: 280px;
}

#menu {
  background-image: url("./assets/restaurant-bg-2.jpg");
  background-size: cover;
  background-position: center;
  padding: 16px;
  display: none;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu h1 {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  color: white;
}

#menu #loading-anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#menu #menu-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 16px;
  max-height: 90%;
  overflow: auto;
}

#menu #menu-container::-webkit-scrollbar {
  display: none;
}

#menu #menu-container .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  background-color: #080808;
  -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.522);
          box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.522);
  padding: 12px;
  border-radius: 16px;
}

#menu #menu-container .menu-item .item-image {
  width: 30%;
  height: 100%;
}

#menu #menu-container .menu-item .item-image img {
  width: 100%;
  border-radius: 8px;
}

#menu #menu-container .menu-item .item-details {
  width: 100%;
}

#menu #menu-container .menu-item .item-details .name-n-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu #menu-container .menu-item .item-details .desc {
  margin-top: 8px;
}

#menu #menu-container .menu-item .item-details .country-origin {
  font-weight: lighter;
  font-size: 14px;
  margin-top: 16px;
}

#menu .place-order-button-container {
  text-align: center;
  margin-top: 32px;
}

#menu .place-order-button-container button {
  width: 300px;
}
/*# sourceMappingURL=style.css.map */